<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcp.Application">
         </run>
      </application>
   </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="colibri.rcp.magento.application"
            name="RCP Colibri Magento">
         <property
               name="appName"
               value="RCP Colibri Magento">
         </property>
      </product>
   </extension>
   
	<extension point="org.eclipse.ui.perspectives">
		<perspective
        class="rcp.MagentoPerspective"
        icon="icons/plug.png"
        id="ExamplePerspective"
        name="Example">
		</perspective>
	</extension>

	<extension point="org.eclipse.ui.views">
		<view
				allowMultiple="false"
				class="rcp.MagentoView"
				id="ExampleView"
				name="ExampleView">
		</view>
	</extension>

</plugin>
