<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
/*******************************************************************************
 * 2011 Projecto Colibri
 * Sergio Gomes (sergiogomes@projectocolibri.com)
 * Marco Lopes (marcolopes@projectocolibri.com)
 *******************************************************************************/
-->
<plugin>

	<extension
         id="application"
         point="org.eclipse.core.runtime.applications">
		<application>
			<run
               class="rcp.Application">
			</run>
		</application>
	</extension>

	<extension
         id="product"
         point="org.eclipse.core.runtime.products">
		<product
            application="colibri.rcp.importador.application"
            name="Importador SAFT">
			<property
               name="appName"
               value="Importador SAFT">
			</property>
		</product>
	</extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
 				id="ImportadorPerspective"
				name="Importador"
				class="rcp.importador.workbench.ImportadorPerspective">
				<!--class="rcp.colibri.workbench.perspectives.ColibriPerspective">-->
      </perspective>
   </extension>

	<extension
         point="org.eclipse.ui.views">
		<view
				id="ImportadorView"
				name="Importador SAFT"
				class="rcp.importador.workbench.ImportadorView"
				allowMultiple="false"
				restorable="false">
		</view>
	</extension>

	<!--
	<extension
         point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
            targetID="*">
			<view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="ImportadorView">
			</view>
		</perspectiveExtension>
	</extension>
	-->   

</plugin>
