<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="example.Application">
         </run>
      </application>
   </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="colibri.rcp.api.example.application"
            name="RCP Colibri API Example">
         <property
               name="appName"
               value="RCP Colibri API Example">
         </property>
      </product>
   </extension>
   
</plugin>
