<?xml version="1.0" encoding="UTF-8"?>
<!--
/*******************************************************************************
 * 2008-2011 Projecto Colibri
 * Marco Lopes (marcolopes@netc.pt)
 *******************************************************************************/
-->
<?eclipse version="3.2"?>
<plugin>

	<extension id="application" point="org.eclipse.core.runtime.applications">
		<application>
			<run
					class="rcpcolibri.Application">
			</run>
		</application>
	</extension>
	
	<extension id="product"	point="org.eclipse.core.runtime.products">
		<product
				application="RCPcolibriPLUGIN.application"
				name="RCPcolibriPLUGIN">
			<property
					name="appName"
					value="RCPcolibriPLUGIN">
			</property>
			<property
					name="preferenceCustomization"
					value="plugin_customization.ini">
			</property>
		</product>
	</extension>

	<extension point="org.eclipse.ui.activities">
		<activity id="rcpcolibri.disablextensions" name="Hidden activities"/>
		<activityPatternBinding activityId="rcpcolibri.disablextensions" pattern="org.eclipse.ui.editors.*"/>
		<!--
		<activityPatternBinding activityId="rcpcolibri.disablextensions" pattern="org.eclipse.ui.externaltools.*"/>
		<activityPatternBinding activityId="rcpcolibri.disablextensions" pattern="org.eclipse.search.*"/>
		<activityPatternBinding activityId="rcpcolibri.disablextensions" pattern="org.eclipse.debug.ui.*"/>
		<activityPatternBinding activityId="rcpcolibri.disablextensions" pattern="org.eclipse.jdt.*"/> 
		<activityPatternBinding activityId="rcpcolibri.disablextensions" pattern="org.eclipse.team.*"/>
		<activityPatternBinding activityId="rcpcolibri.disablextensions" pattern="com.swtdesigner.*"/>
		-->
	</extension>

	<extension point="org.eclipse.ui.perspectives">
		<perspective
				name="Colibri"
				class="rcpcolibri.ui.workbench.perspectives.ColibriPerspective"
				id="ColibriPerspective"
				icon="icons/perspective/colibri.png">
		</perspective>
		<perspective
				name="BIRT"
				class="rcpcolibri.ui.workbench.perspectives.BIRTPerspective"
				id="BIRTPerspective"
				icon="icons/perspective/birt.png">
		</perspective>
		<!--
		<perspective
				name="POS"
				class="rcpcolibri.ui.workbench.perspectives.POSPerspective"
				id="POSPerspective"
				icon="icons/perspective/pos.png">
		</perspective>
		-->
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
				class="rcpcolibri.ui.preferencespage.PreferenceInitializer">
		</initializer>
	</extension>
	
	<!--
	Contexts
	A context can be used to influence what commands are available to the user at any given moment. 
	Contexts are much more dynamic than activities. 
	While an activity represents a broad set of function that is available to the user most of the time, 
	contexts describe a focus of the user at a specific point in time. 
	For example, the commands available to a user while editing text might be different	than those available 
	to a user while editing Java text or browsing packages in the package explorer.

	Context hierarchies
	Contexts are hierarchical in nature. 
	When a context is active, the commands available in the context and in its parent contexts are also available. 
	This is useful for defining levels of contexts that move from very general situations down to more specific contexts. 
	In the context definition above, note that there is an id of a parent assigned to the context:
	The parent context defines the more general context of working within a window. 
	Its parent defines an even more general context of working within a window or a dialog. 	
	-->
 
	<extension point="org.eclipse.ui.contexts">
		<!--
		Colibri Keyboard Context
		-->
		<context
				id="rcpcolibri.context.DefaultContext"
				name="rcpcolibri.context.DefaultContext"
				parentId="org.eclipse.ui.contexts.window">
		</context>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<!--
		Colibri Keyboard Scheme
		-->
		<scheme
           id="rcpcolibri.bindings.DefaultScheme"
           name="rcpcolibri.bindings.DefaultScheme">
		</scheme>

		<!--
		Colibri Keyboard Bindings
		-->
 		<key
				commandId="Novo"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="F2">
		</key>
		<key
				commandId="Gravar"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="F4">
		</key>
		<key
				commandId="Remover"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="Alt+F2">
		</key>
		<key
				commandId="Actualizar"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="F5">
		</key>
		<key
				commandId="Pesquisar"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="F6">
		</key>
		<key
				commandId="Copiar"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="F7">
		</key>
		<key
				commandId="Colar"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="F8">
		</key>
		<key
				commandId="Imprimir"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="F9">
		</key>
		<key
				commandId="Prever"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="Ctrl+F9">
		</key>
		<key
				commandId="Anterior"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="F11">
		</key>
		<key
				commandId="Proximo"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="F12">
		</key>
		<key
				commandId="Novalinha"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="Ctrl+Enter">
		</key>
		<key
				commandId="Inserirlinha"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="Ctrl++">
		</key>
		<key
				commandId="Removerlinha"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="Ctrl+-">
		</key>
		<key
				commandId="OpenPreferencePage"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="Ctrl+P">
		</key>
		<key
				commandId="ResetPerspective"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="Ctrl+R">
		</key>
		<key
				commandId="CleanPerspective"
				contextId="rcpcolibri.context.DefaultContext"
				schemeId="rcpcolibri.bindings.DefaultScheme"
				sequence="Ctrl+L">
		</key>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Novo"
				id="Novo"
				name="actionNovo">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Gravar"
				id="Gravar"
				name="actionGravar">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Remover"
				id="Remover"
				name="actionRemover">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Alterar"
				id="Alterar"
				name="actionAlterar">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Actualizar"
				id="Actualizar"
				name="actionActualizar">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Pesquisar"
				id="Pesquisar"
				name="actionPesquisar">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Copiar"
				id="Copiar"
				name="actionCopiar">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Colar"
				id="Colar"
				name="actionColar">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Imprimir"
				id="Imprimir"
				name="actionImprimir">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Prever"
				id="Prever"
				name="actionPrever">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Anterior"
				id="Anterior"
				name="actionAnterior">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Proximo"
				id="Proximo"
				name="actionProximo">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Novalinha"
				id="Novalinha"
				name="actionNovalinha">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Inserirlinha"
				id="Inserirlinha"
				name="actionInserirlinha">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.GenericHandler"
				description="Removerlinha"
				id="Removerlinha"
				name="actionRemoverlinha">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.DummyHandler"
				description="OpenPreferencePage"
				id="OpenPreferencePage"
				name="OpenPreferencePageAction">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.DummyHandler"
				description="CleanPerspective"
				id="CleanPerspective"
				name="CleanPerspectiveAction">
		</command>
		<command
				defaultHandler="rcpcolibri.core.keyboard.DummyHandler"
				description="ResetPerspective"
				id="ResetPerspective"
				name="ResetPerspectiveAction">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.views">
		<view
				allowMultiple="false"
				class="rcpcolibri.ui.workbench.views.baseviews.ColibriView"
				id="ColibriView"
				name="ColibriView">
		</view>
		<view
				allowMultiple="false"
				class="rcpcolibri.ui.workbench.views.baseviews.BrowserView"
				id="BrowserView"
				name="BrowserView">
		</view>
		<view
				allowMultiple="false"
				class="rcpcolibri.ui.workbench.views.baseviews.ConsoleView"
				id="ConsoleView"
				name="ConsoleView">
		</view>
		<view
				allowMultiple="false"
				class="rcpcolibri.ui.workbench.views.baseviews.HelpView"
				id="HelpView"
				name="HelpView">
		</view>
		<view
				allowMultiple="false"
				class="rcpcolibri.ui.workbench.views.treeview.TreeView"
				id="TreeView"
				name="TreeView">
		</view>
		<view
				allowMultiple="true"
				class="rcpcolibri.ui.views.artigos.registo.ArtigosRegistoView"
				id="ArtigosRegistoView"
				name="ArtigosRegistoView">
		</view>
		<view
				allowMultiple="true"
				class="rcpcolibri.ui.views.artigos.emissao.ArtigosEmissaoView"
				id="ArtigosEmissaoView"
				name="ArtigosEmissaoView">
		</view>
		<view
				allowMultiple="false"
				class="rcpcolibri.ui.views.artigos.ficheiro.ArtigosFicheiroView"
				id="ArtigosFicheiroView"
				name="ArtigosFicheiroView">
		</view>
		<view
				allowMultiple="false"
				class="rcpcolibri.ui.views.artigos.movimentos.ArtigosMovimentosView"
				id="ArtigosMovimentosView"
				name="ArtigosMovimentosView">
		</view>
		<view
				allowMultiple="false"
				class="rcpcolibri.ui.views.artigos.documentos.ArtigosDocumentosView"
				id="ArtigosDocumentosView"
				name="ArtigosDocumentosView">
		</view>
		<view
				allowMultiple="true"
				class="rcpcolibri.ui.views.entidades.registo.EntidadesRegistoView"
				id="EntidadesRegistoView"
				name="EntidadesRegistoView">
		</view>
		<view
				allowMultiple="true"
				class="rcpcolibri.ui.views.entidades.emissao.EntidadesEmissaoView"
				id="EntidadesEmissaoView"
				name="EntidadesEmissaoView">
		</view>
		<view
				allowMultiple="true"
				class="rcpcolibri.ui.views.entidades.ficheiro.EntidadesFicheiroView"
				id="EntidadesFicheiroView"
				name="EntidadesFicheiroView">
		</view>
		<view
				allowMultiple="true"
				class="rcpcolibri.ui.views.entidades.movimentos.EntidadesMovimentosView"
				id="EntidadesMovimentosView"
				name="EntidadesMovimentosView">
		</view>
		<view
				allowMultiple="true"
				class="rcpcolibri.ui.views.entidades.documentos.EntidadesDocumentosView"
				id="EntidadesDocumentosView"
				name="EntidadesDocumentosView">
		</view>
		<view
				allowMultiple="true"
				class="rcpcolibri.ui.views.filters.FilterView"
				id="FilterView"
				name="FilterView">
		</view>
		<view
				allowMultiple="true"
				class="rcpcolibri.ui.views.reports.ReportView"
				id="ReportView"
				name="ReportView">
		</view>
		<view
				allowMultiple="false"
				class="rcpcolibri.ui.views.pos.POSArtigosView"
				id="POSArtigosView"
				name="POSArtigosView">
		</view>
		<view
				allowMultiple="false"
				class="rcpcolibri.ui.views.pos.POSDocumentosView"
				id="POSDocumentosView"
				name="POSDocumentosView">
		</view>
		<view
				allowMultiple="false"
				class="rcpcolibri.ui.views.licencas.LicencasView"
				id="LicencasView"
				name="LicencasView">
		</view>
	</extension>

	<!--
	<extension point="org.eclipse.ui.editors">
		<editor
				class="org.eclipse.birt.report.designer.ui.editors.RCPMultiPageReportEditor"
				contributorClass="org.eclipse.birt.report.designer.ui.editors.ReportActionBarContributor"
				default="false"
				icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/report.gif"
				id="org.eclipse.birt.report.designer.ui.editors.ReportEditor"
				name="%ReportEditor">
			<contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportdesign"/>
		</editor>
		<editor
				class="org.eclipse.birt.report.designer.ui.editors.RCPReportDocumentEditor"
				contributorClass="org.eclipse.birt.report.designer.ui.editors.ReportDocumentActionContributor"
				default="false"
				icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/report.gif"
				id="org.eclipse.birt.report.designer.ui.editors.IDEReportDocumentEditor"
				name="%ReportDocumentEditor">
			<contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportdocument"/>
		</editor>
		<editor
				class="org.eclipse.birt.report.designer.ui.editors.RCPMultiPageReportEditor"
				contributorClass="org.eclipse.birt.report.designer.ui.editors.TemplateActionBarContributor"
				default="false"
				icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/template.gif"
				id="org.eclipse.birt.report.designer.ui.editors.TemplateEditor"
				name="%TemplateEditor">
			<contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reporttemplate"/>
		</editor>
		<editor
				class="org.eclipse.birt.report.designer.ui.editors.RCPMultiPageReportEditor"
				contributorClass="org.eclipse.birt.report.designer.ui.editors.LibraryActionBarContributor"
				default="false"
				icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/library.gif"
				id="org.eclipse.birt.report.designer.ui.editors.LibraryEditor"
				name="%LibraryEditor">
			<contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportlibrary"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
				file-extensions="rptdesign"
				id="org.eclipse.birt.report.designer.ui.editors.reportdesign"
				name="%ReportEditor">
		</content-type>
		<content-type
				file-extensions="rptdocument"
				id="org.eclipse.birt.report.designer.ui.editors.reportdocument"
				name="%ReportDocumentEditor">
		</content-type>
		<content-type
				file-extensions="rpttemplate"
				id="org.eclipse.birt.report.designer.ui.editors.reporttemplate"
				name="%TemplateEditor">
		</content-type>
		<content-type
				file-extensions="rptlibrary"
				id="org.eclipse.birt.report.designer.ui.editors.reportlibrary"
				name="%LibraryEditor">
		</content-type>
	</extension>
	-->

</plugin>
